@charset "utf-8";

#mw-htmlform-achievtitle .mw-input {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

table.achiev-item {
	background-color: #ffffff;
	border: 1px solid #e8e8e8;
	color: #252525;
	height: 120px;
	margin: 6px 0;
}

td.achiev-image {
	min-width: 100px;
	width: 100px;
	padding: 0 !important;
	text-align: center;
}

td.achiev-image img {
	height: 60px;
	width: 60px;
}

td.achiev-name {
	width: 100%;
	font-size: 120%;
	padding: 10px 4px 2px 0 !important;
}

td.achiev-stage {
	min-width: 160px;
	width: 160px;
	padding: 0 !important;
	text-align: center;
}

.achiev-block {
	display: inline-block;
	width: 32px;
	margin: 2%;
	height: 45px;
	background-color: #a5a5a5;
	text-align: center;
	vertical-align: middle;
	line-height: 45px;
	font-weight: bold;
	font-size: 16px;
	color: #f2f2f2;
}

.achiev-block-c {
	background-color: #61c72f;
}
.achiev-block-a {
	background-color: #ff9e38;
}

td.achiev-desc {
	padding: 0 0 0 1em !important;
	vertical-align: top;
	font-size: 90%;
	height: 100%;
}

td.achiev-prog {
	position: relative;
	padding: 0 !important;
}

.achiev-bar {
	width: 100%;
	max-width: 300px;
	height: 8px;
	text-align: left;
	margin: 0px 4px 4px 4px;
	overflow: hidden;
	background-color: #a5a5a5;
}
.achiev-barfill {
	height: 100%;
	display: inline-block;
	vertical-align: top;
	background-color: #ff9e38;
}
.achiev-barfill-c {
	background-color: #61c72f;
}
.achiev-bartext {
	position: absolute;
	top: -0.5em;
	left: 0;
	width: 100%;
	max-width: 300px;
	height: 100%;
	font-size: 12px;
	text-align: center;
}

.achiev-note {
	padding: 0 0 0 2px !important;
	font-size: x-small;
	color: #666;
}

@media screen and (max-width: 768px) {
	#mw-htmlform-achievtitle .mw-input {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}

	td.achiev-name {
		font-size: 100%;
		padding: 4px 2px 2px 0 !important;
	}
	td.achiev-image {
		min-width: 10px;
		width: 10px;
	}
	td.achiev-image img {
		display: none;
	}
	td.achiev-stage {
		min-width: 140px;
		width: 140px;
	}

	.achiev-block {
		width: 28px;
	}
}